{% extends 'base.html.twig' %}

{% block title %}Big Ben - Admin{% endblock %}

{% block link %}
    <link rel="stylesheet" href="{{asset('/css/admin.css')}}">
{% endblock %}

{% block script %}
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
{% endblock %}

{% block navigation %}{% endblock %}
{% block adminNav %}
    <a href="{{ path('technology.add') }}">Technologie</a>
    <a href="{{ path('projects.add') }}">Projets</a>
    <a href="{{ path('invitation.add') }}">Invitation</a>
{% endblock %}

{% block main %}

    <section class="technologies">
        <h2>Languages et technologies</h2>
        <table class="tableau-style">
            
            <thead>
                <tr>
                    <th>Logo</th>
                    <th>Name</th>
                    <th>Nombre de projets</th>
                    <th>Options</th>
                </tr>
            </thead>

            <tbody>
                {% for technology in allTech %}
                    <tr>
                        <td>
                            <img src="{{ asset('images/logos/') }}{{technology.logo}}" alt="logo {{ technology.name }}" class="tech-logo">
                        </td>
                        <td>{{technology.name}}</td>
                        <td></td>
                        <td>
                            <a href="{{ path('technology.update', {id:technology.id}) }}"><ion-icon name="build-outline"></ion-icon></a>
                            <a href="{{ path('technology.delete', {id:technology.id}) }}"><ion-icon name="trash-outline"></ion-icon></a>                               
                        </td>                   
                    </tr>
                {% endfor %}
            </tbody>
        
        </table>
    </section>

{% endblock %}
