{% extends 'base.html.twig' %}

{% block title %}Big Ben - Admin{% endblock %}

{% block link %}
    {# <link rel="stylesheet" href="{{asset('/css/home.css')}}"> #}
{% endblock %}

{% block script %}{% endblock %}

{% block navigation %}{% endblock %}

{% block adminNav %}
    <a href="{{ path('technology.add') }}">Technologie</a>
    <a href="{{ path('projects.add') }}">Projets</a>
    <a href="{{ path('invitation.add') }}">Invitation</a>
{% endblock %}

{% block main %}
    <ul>
        {% for project in list %}
            <li>{{ project.name }}</li>
        {% endfor %}
    </ul>

    {{ form_start(form) }}
        {{ form_label(form.name, "Nom du projet") }}
        {{ form_widget(form.name) }}
        {{ form_errors(form.name) }}
        
        {{ form_label(form.description, "Description") }}
        {{ form_widget(form.description) }}
        {{ form_errors(form.description) }}

        {{ form_label(form.url, "URL") }}
        {{ form_widget(form.url) }}
        {{ form_errors(form.url) }}
        
        {{ form_label(form.image, "Image") }}
        {{ form_widget(form.image) }}
        {{ form_errors(form.image) }}

        {{ form_label(form.technology, "Technologie(s)") }}
        {{ form_widget(form.technology) }}
        {{ form_errors(form.technology) }}

        <button type="submit">Ajouter</button>
    {{ form_end(form) }}
{% endblock %}